.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 7%;
  justify-content: center;
}

.addNew {
  height: 150px;
  width: 270px;
  border: 1px dashed #2da1ad;
  opacity: 0.5;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1%;
}

.addNew:hover {
  cursor: pointer;
  opacity: 1;
}

.addNewIcon {
  background-color: #2da1ad;
}

.addNewText {
  color: #2da1ad;
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .addNew {
    flex-direction: row;
    align-items: center;
    padding: 20px;
    justify-content: flex-start;
    box-sizing: border-box;
    height: 60px;
    width: 360px;
    border-radius: 4px;
    background-color: #ffffff;
  }

  .addNewText {
    margin-left: 15px;
  }
}
