.container {
    display: flex;
  }
  
  .uploadImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
  }

  .fileInput {
    margin-top: 20px;
    width: 34%;
  }
  
  .image {
      height: 186px;
      width: 186px;
      border-radius: 50%;
  }
  
  
  .contactDetails {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
  }
  
  .divider {
    height: 2px;
    width: 630px;
    border: 1px solid #2da1ad;
    margin: 20px 0;
  }
  
  .heading {
    display: flex;
    padding: 20px 0;
    width: 100px;
    justify-content: space-between;
  }
  
  .headingImg {
    height: 15px;
    width: 15px;
  }
  
  .headingText {
    height: 19px;
    width: 66px;
    color: #2da1ad;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 19px;
    margin: 0;
  }
  
  .input {
    height: 60px;
    width: 50%;
    border: 1px solid #bbc4c3;
    opacity: 0.4;
    padding: 0 20px;
    border-radius: 4px;
  }
  
  .smallInput {
    height: 60px;
    padding: 0 20px;
    width: 240px;
    opacity: 0.4;
    /* margin: 0 30px; */
    border: 1px solid #bbc4c3;
    border-radius: 4px;
    background-color: #ffffff;
    margin-top: 10px;
  }
  
  .back {
    width: 50px;
    border: none;
    background-color: white;
  }
  
  .addNumber {
    height: 17px;
    width: 76px;
    color: #2da1ad;
    font-family: Lato;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 17px;
    justify-content: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .buttonContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  .cancelButton {
    height: 42px;
    width: 160px;
    border-radius: 28.5px;
    background-color: #bbc4c3;
    color: #ffffff;
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 17px;
    text-align: center;
    border: none;
  }
  
  .saveButton {
    height: 42px;
    border: none;
    width: 160px;
    border-radius: 28.5px;
    background-color: #2da1ad;
    color: #ffffff;
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 17px;
    text-align: center;
  }

  .inputNumber {
    height: 60px;
    width: 50%;
    border: 1px solid #bbc4c3;
    opacity: 0.4;
    padding: 0 20px;
    border-radius: 4px;
    margin-top: 10px;
  }
  
  .addNumber {
    height: 40px;
    width: 76px;
    color: #2da1ad;
    font-family: Lato;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 17px;
    margin: 0;
  }
  .backButtonContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* display: 'flex', justifyContent: 'space-between', width: '100%'  */
  }
  .circle:hover {
      cursor: pointer;
  }
  .addNumberContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 150px;
    margin: 20px 0;
  }
  
  .circle {
    margin-top: 5px;
    /* border: 1px solid #2da1ad; */
    border: 1px solid #bbc4c3;
    color: #bbc4c3;
    background: white;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }

  button:hover {
      cursor: pointer;
  }

  .phoneInputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  @media only screen and (max-width: 600px) {
    .input {
      width: 100%;
    }

    .inputNumber {
        width: 100%;
     }
    .container {
      /* height: 60px;
      width: 360px; */
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  
    .uploadImage {
      margin: 0;
      position: initial;
    }
    
    .image {
      height: 156px;
      width: 156px;
      border-radius: 50%;
    }
  
  
  .input:focus {
    outline: 2px solid #2496a2;
  }
    
    .phoneInputs {
      display: flex;
      flex-wrap: wrap;
    }
    
    .smallInput {
      width: 80%;
      margin: 10px 0 0 0;
    }
  
  .circleButton {
    display: flex;
    /* justify-content: center; */
    justify-content: flex-end;
    align-items: center;
    width: 20%;
    margin-top: 10px;
  }
  .addNumberContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    margin: 20px 0;
  }
  .addNumber {
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }

  .image {
      margin-top: 20px;
  }
  
    .contactDetails {
      width: 85%;
      margin-top: 0;    
    }
  
    .divider {
      width: 100%;
      margin-bottom: 0;
    }
  
    .cancelButton {
      height: 40px;
      width: 155px;
      
    }
    
    .saveButton {
      height: 40px;
      width: 155px;
    }
    
  
    .buttonContainer {
     margin-bottom: 10%;
    }
  
    .backButtonContainer {
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      /* display: 'flex', justifyContent: 'space-between', width: '100%'  */
    }
    
    .back {
      padding: 20px 0;
    }
  
    .line2 {
      height: 3px;
      width: 100%;
      background-color: #BBC4C3;
      opacity: 0.4;
    }
  }
  