.container {
  display: flex;
}

.uploadImage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 186px;
  width: 186px;
  border: 3px solid rgba(187, 196, 195, 0.3);
  background-color: rgba(45, 161, 173, 0.4);
  border-radius: 50%;
  margin-right: 50px;
  margin-top: 100px;
}

.contactDetails {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.divider {
  height: 2px;
  width: 630px;
  border: 1px solid #2da1ad;
  margin: 20px 0;
}

.heading {
  display: flex;
  padding: 20px 0;
  width: 100px;
  justify-content: space-between;
}

.headingImg {
  height: 15px;
  width: 15px;
}

.headingText {
  height: 19px;
  width: 66px;
  color: #2da1ad;
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 19px;
  margin: 0;
}

.input {
  height: 60px;
  width: 300px;
  border: 1px solid #bbc4c3;
  opacity: 0.4;
  padding: 0 20px;
  border-radius: 4px;
}

.smallInput {
  height: 60px;
  padding: 0 20px;
  width: 240px;
  opacity: 0.4;
  margin: 0 30px;
  border: 1px solid #bbc4c3;
  border-radius: 4px;
  background-color: #ffffff;
}

.back {
  width: 50px;
  border: none;
  background-color: white;
}

.addNumber {
  height: 17px;
  width: 76px;
  color: #2da1ad;
  font-family: Lato;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 17px;
}

.buttonContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.cancelButton {
  height: 42px;
  width: 160px;
  border-radius: 28.5px;
  background-color: #bbc4c3;
  color: #ffffff;
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 17px;
  text-align: center;
  border: none;
}

.saveButton {
  height: 42px;
  border: none;
  width: 160px;
  border-radius: 28.5px;
  background-color: #2da1ad;
  color: #ffffff;
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 17px;
  text-align: center;
}

.addNumber {
  height: 31px;
  width: 76px;
  color: #2da1ad;
  font-family: Lato;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 17px;
  margin: 0;
}

.addNumberContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  margin: 20px 0;
}

.circle {
  border: 1px solid #2da1ad;
  background: white;
  height: 31px;
  width: 31px;
  border-radius: 100%;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .contactDetails {
    width: 85%;
  }

  .divider {
    width: 100%;
  }

  .input {
    margin-bottom: 4%;
  }

  .buttonContainer {
    display: flex;
    justify-content: space-around;
  }
}
