.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2% 0;
  width: 50%;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.line3 {
  color: #bbc4c3;
  margin: 0 3%;
}

.line2 {
  box-sizing: border-box;
  height: 2px;
  width: 100%;
  border: 1px solid #2da1ad;
}

.link {
    color: #bbc4c3;
    /* font-family: Lato; */
    font-size: 18px;
    font-weight: 400;
    /* letter-spacing: 0; */
    /* line-height: 22px; */
}




@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }

  .link {
    padding: 15px;
  }

  .line2 {
    width: 90%;
  }
}
